name: Deploy to Skynet

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Upload using npx
      run: |
        # Upload directly using npx
        npx @nebulous/skynet upload . --portal https://siasky.net